# Ignore node_modules directory
node_modules/

# Ignore npm cache directory
.npm/

# Ignore compiled CSS files
*.css.map

# Ignore compiled TypeScript files
*.ts.map
*.d.ts

# Ignore build artifacts
dist/
build/


# Ignore IDE and editor files
.idea/
.vscode/
.DS_Store
Thumbs.db
launch.json