.font-animation {
    
    animation: dash 80s linear forwards; 
    animation-iteration-count: infinite;
  }
  
  
  @keyframes dash {
    0% { 
        fill:palegreen; 
        fill-opacity: 0;
        stroke-opacity: 0;
        stroke: cyan;
    }
   
   10% {
    stroke-opacity: .35;
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    } 
   15% { 
    fill-opacity: 1;
    stroke-opacity: 1;
  }
   25% {}
   30% {}
   35% {}
   40% {}
   45% {}
   50% { stroke-opacity: .75;}
   75% {
         fill:red;
         fill-opacity: 0.5;         
       }
   80% { 
         fill-opacity: 0;
          stroke-opacity: .55;       
       }
   85% {stroke-dashoffset: 0;  stroke-opacity: .25;}
   90% { stroke-opacity: 0;}
  100% { 
    
       
       }
  }