
:root {
  --main-bg-color: brown;
}

#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

svg {
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  z-index: -1;
}

.float-button {
 background-color: goldenrod; 
}

.float-button-icon{
 background-color: aquamarine;
}
@keyframes rotate-animate {
    0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}

}

@keyframes color-animate { 
  0% {      
      fill:orange;
      stroke:red;
  }
  25%{
    fill:crimson;
    stroke:coral; 
  }
  50% {
    stroke-width: 10px;
  }
  75% {
    stroke-width: 5px;
  }
  100% {
    
      fill:pink;
      stroke:blueviolet;
      
  }
  
}

@keyframes motion-animate {
  0% {transform: translate(0,0);}
100% {transform: translate(10,10);}

}

@keyframes rotate-animate-orig { 
  0% {
      transform: rotate(0deg);
      fill:orange;
      stroke:red;
  }
  25%{
    fill:crimson;
    stroke-width: 3px;
    stroke:coral; 
  }
  50% {
    stroke-width: 10px;
  }
  75% {
    stroke-width: 5px;
  }
  100% {
      transform: rotate(360deg);
      fill:pink;
      stroke:blueviolet;
      stroke-width: 1px;
  }
  
}
.center{
  transform-box: fill-box;
  transform-origin: center;
}

.rotate-cw {
  animation-name:
    rotate-animate,
    color-animate;
  animation-iteration-count: 1 ,infinite;
  animation-delay:  0ms;
  animation-duration:  100s;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;

}

.color-red{
  fill:orange;
  stroke:red;
}
.color-gold {
  fill:#dcc57c;
  stroke:#dcc57c;
}