.fullscreen-carousel {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justifyContent: center;
  alignItems: center;
}

.fullscreen-carousel .ant-carousel,
.fullscreen-carousel .slick-slider,
.fullscreen-carousel .slick-list,
.fullscreen-carousel .slick-track {
  height: 100% !important;
}

.fullscreen-carousel .slick-slide > div:first-child {
  height: 100% !important;
}